.clearfix:after {
	content:".";
	display:block;
	height:0;
	clear:both;
	visibility:hidden;
}
.clearfix {display:inline-block;}
/* Hide from IE Mac \*/
	.clearfix {display:block;}
/* End hide from IE Mac */
	

/* defaults */
* {
  margin: 0;
  padding: 0;
}
 
html, body {
  height: 100%;
}
 
body {
  background-color: white;
  font: 10px "Lucida Grande", Verdanda, helvetica, arial, clean, sans-serif;
  *font-size: small;
  text-align: center;
}
 
h1 {
  margin-bottom: 1em;
}
 
p {
  margin: 1em 0;
}
 
a {
  color: #00a;
}
 
a:hover {
  color: black;
}
 
a:visited {
  color: #a0a;
}
a img {
  border: none;
}
table {
  font-size: inherit;
  font: 100%;
}
blockquote {
  font-style: italic;
  margin-left: 30px;
  color: #555;
  border: 1px dashed #555;
  padding: 0 15px;
}

/* site */
div.site {
   font-size: 150%;
   text-align: justify;
   width: 40em;
   margin: 3em auto;
   line-height: 1.5em;
}

/* header */
.header {
   clear: both;
}
.header .title {
   font-size: 200%;
   font-weight: bold;
   margin-bottom: 0.7em;
   float: left;
   margin-right: 2em;
}

.header .title a {
   color: #55e;
   text-decoration: none;
}

.header .title a:hover {
   color: black;
}

.header .menu {
  float: left;
  font-size: 115%;
}

.header .menu li {
   list-style-type: none;
   display: inline;
   margin-right: 0.3em;
}

.header .menu li a {
   color: #777;
   text-decoration: none;
}

.header .menu li a:hover {
  color: black;
}

/* posts */

.posts li {
   list-style-type: none;
}

/* footer */
.footer {
   clear: both;
   margin-top: 2em;
   border-top: 3px solid #777;
   padding-top: 1em;
}
.footer .contact {
   float: left;
}
.footer .rss {
   float: right;
}

.file {
   border: 1px solid #777;
}

.file .name {
   background-color: #aaa;
   padding: 0.7em;
   border-bottom: 1px solid #777;
   font-family: 
}

.file .text {
  padding: 0.7em;
}

.highlight {
  overflow: auto;
}

/* Post */
.post ul {
  margin: 10px 0px 30px 15px;
}

.post li {
  margin-bottom: 5px;
  padding-left: 10px;
  padding-right: 50px;
}

/* CV */
#cv div {
	border-top: 1px dashed gray;
	margin-top: 20px;
	padding-top: 10px;
}

#cv h2 {
  margin-bottom: 20px;
}

#cv h3 {
  margin-top: 20px;
}

#cv h4 {
  font-weight: normal;
  font-style: italic;
}

#cv ul {
  padding-left: 20px;
}

#cv li {
  margin-bottom: 10px;
}

#cv .key-skills li {
  margin-bottom: 0px;
}
