---
layout: default
---
<div>
  <h2><a href="{{ page.url }}">{{ page.title }}</a></h2>
  
  <div class="post-info span-3 colborder">
    <div>{{ page.date | date: "%d %B %Y" }}</div>
    <div><a href="#disqus_thread">Comments</a></div>
  </div>
  
  <div class="span-16 post">
    <div class="post-content">
      {{ content }}
    </div>

    <div id="related-posts">
      <h2>Related Posts</h2>
      <ul class="posts">
        {% for post in site.related_posts limit:3 %}
          <li><span>{{ post.date | date_to_string }}</span> &raquo; <a href="{{ post.url }}">{{ post.title }}</a></li>
        {% endfor %}
      </ul>
    </div>
    
    <div id="disqus_thread"></div>
    <script type="text/javascript">
      var disqus_shortname = 'ohthatjames';
      // var disqus_developer = 1;
      var disqus_identifier = "{{ page.id }}";
      (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
      })();
    </script>
    <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
    <a href="http://disqus.com" class="dsq-brlink">blog comments powered by <span class="logo-disqus">Disqus</span></a>
  </div>

  <div class="span-3 colborder-left last">
    <!-- <img src="http://www.gravatar.com/avatar/bff5752d70c053adecf8d525c8266722.png?s=120"/> -->
    <p>
      Hi, I'm James Hunt. 
      I'm a software developer in the UK. 
      I <a href="http://github.com/ohthatjames">write code</a> and 
      <a href="http://twitter.com/ohthatjames">occasionally tweet</a>.
      You can get in touch at ohthatjames @ gmail.com.
    </p>
    <a href="http://ohthatjames.github.com/atom.xml"><img src="/images/feed-icon-14x14.png" title="feed" /></a>
  </div>
</div>
